<h1>Список користувачів</h1>
<input type="button" value="Добавити" class="btn btn-default" (click)="addUser()" />
<table class="table table-striped">
    <thead>
    <tr>
        <td>Id</td>
        <td>Ім'я</td>
        <td>Вік</td>
        <td></td>
        <td></td>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
        <ng-template [ngTemplateOutlet]="loadTemplate(user)"
                     [ngTemplateOutletContext]="{ $implicit: user}">
        </ng-template>
    </tr>
    </tbody>
</table>
<div>{{statusMessage}}</div>


<!--шаблон для читання-->
<ng-template #readOnlyTemplate let-user>
    <td>{{user.Id}}</td>
    <td>{{user.Name}}</td>
    <td>{{user.Age}}</td>
    <td>
        <input type="button" value="Редагувати" class="btn btn-default" (click)="editUser(user)" />
    </td>
    <td>
        <input type="button" value="Видалити" (click)="deleteUser(user)" class="btn btn-danger" />
    </td>
</ng-template>

<!--шаблон для редагування-->
<ng-template #editTemplate>
    <td>
        <input type="text" [(ngModel)]="editedUser.Id" readonly disabled class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedUser.Name" class="form-control" />
    </td>
    <td>
        <input type="text" [(ngModel)]="editedUser.Age" class="form-control" />
    </td>
    <td>
        <input type="button" value="Зберегти" (click)="saveUser()" class="btn btn-success" />
    </td>
    <td>
        <input type="button" value="Відмінити" (click)="cancel()" class="btn btn-warning" />
    </td>
</ng-template>